.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.flex-1{
    flex: 1;
}
.flex-2{
    flex: 2;
}
.flex-3{
    flex: 3;
}
.center{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.left{
    justify-content: flex-start;
}
.right{
    justify-content: flex-end;
}
